body
{
	background-image: url("login_background.jpg");
}
#heading{
	color: red;
}

	.name_div1 , .name_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#student1_input, #student2_input
{
	display: inline-block;
	margin-left: 5px;
}
#number
{
	width: 60%;
}
#number_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #e70e52;
padding: 10px;
float: none;
margin-left:50px;
margin-right:50px;
}
#quiz_head{
	border-radius: 10px;
	margin-left:50px;
	margin-right:50px;
}
#quiz_taker_1{
	color: yellow;
	display: inline-block;
}
#quiz_taker_2 {
	color: yellow;
	display: inline-block;
}
#quizzer_1_score{
	color: yellow;
	display: inline-block;
}
#quizzer_2_score{
	color: yellow;
	display: inline-block;
}